---
import Age from "../components/Age.astro";
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle="Bence R."
---

<BaseLayout pageTitle={pageTitle}>
	<h2 class="italic -mt-1">a.k.a General Mudkip</h2>

	<p class="mt-2">
		I'm a <Age /> year-old student.
	</p>
	
	<hr class="my-4">

	<div class="">
		<h1 class="text-2xl">Projects</h1>
		<ul class="list-disc ml-7">
			<li>
				<a href="https://github.com/General-Mudkip/personal-portfolio" class="underline">This Site</a>
			</li>

			<li>
				<a href="https://betterexams.ie" class="underline">betterexams.ie</a>
			</li>
		</ul>
	</div>
</BaseLayout>