---
import '../styles/global.css';
import NavigationLink from './NavigationLink.astro';

const currentPath = Astro.url.pathname;
---
<div class="flex flex-col flex-wrap pb-2 pl-2 gap-2 min-w-[12rem] bg-zinc-950 outline outline-4 outline-white rounded-b-xl sm:justify-center sm:flex-row md:w-96">
    <NavigationLink name="./home" href="/" />
    <NavigationLink name="./about" href="/about" />
    <NavigationLink name="./ramblings" href="/ramblings" />
</div>