---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <style>
      html {
        background: #040A0A;
      }
    </style>

    <meta charset="utf-8" />
    <link rel="icon" href="../../favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <link href="../styles/global.css" rel="stylesheet" rel="preload" as="style" />
  </head>

  <body class="bg-[#040A0A] min-h-screen min-w-screen flex flex-col items-center">
    <main class="inline-flex flex-col w-full h-full items-center">
      <Header />

      <div class="mt-12 mx-8 w-auto max-w-[36rem] p-8 border-white border-2 inline rounded-xl align-middle bg-zinc-950 md:w-[36rem]">
        <h1 class="text-4xl font-bold">{pageTitle}</h1>
        <slot />
      </div>

      <Footer />
    </main>
  </body>
  
</html>