---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <style>
      html {
        background: #040A0A;
        visibility: hidden; /* Hide the page initially */
      }
    </style>

    <meta charset="utf-8" />
    <link rel="icon" href="../../favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <script>
      // Show the page after CSS has finished loading
      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', () => {
          document.documentElement.style.visibility = 'visible';
        });
      } else {
        document.documentElement.style.visibility = 'visible';
      }
    </script>
    
  </head>

  <body class="bg-[#040A0A] min-h-screen min-w-screen flex flex-col items-center">
    <main class="inline-flex flex-col w-full h-full items-center">
      <Header />

      <div class="mt-12 mx-8 w-auto max-w-[36rem] p-8 border-white border-2 inline rounded-xl align-middle bg-zinc-950 md:w-[36rem]">
        <h1 class="text-4xl font-bold">{pageTitle}</h1>
        <slot />
      </div>

      <Footer />
    </main>
  </body>
  
</html>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --foreground-rgb: 243, 247, 252;
    --background-start-rgb: 4, 10, 10;
    --background-end-rgb: 4, 10, 10;

    @apply font-mono
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
</style>